@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {max-width:1200px;
  font-family: 'Roboto', sans-serif;
font-size:1.2em;}
i {background-color:blue;
    color:#fff;
    padding:5px;
    font-style:italic;}
section.news {background-color: rgba(255,255,255,0.88);
    border-radius:8%;
    padding:2%;
    display:flex;
    flex-direction:column;
    align-items:center;
}


div.selectnews {
    display:flex;
    flex-direction:column;
    justify-items:center;
    align-items: center;
}

div.news_select_boxes {
    display:flex;
}

li {display:flex;
  align-items:center;
}
.one, .two {padding:20px;}

a {color:#555;}

@media all and (max-width: 675px) {
  body {font-size:1rem;
max-width:90vw;
padding: 0 25px;
line-height:1.2rem;}
  li {display:flex;
  flex-direction:column;}
  img {max-width:85vw;}
}

@media all and (max-width: 575px) { 

    body {
        max-width: 560px;
        padding: 0 5px;
        line-height:1.2rem;
    }
    ul {
        max-width:99%;
        
    }
}

@media all and (max-width: 400px) { 

    body {
        font-size:0.8rem;
        max-width: 360px;
        padding: 0 5px;
        line-height:1.15rem;
    }
    ul {
        max-width:99%;
        
    }
}
@media all and (max-width: 325px) { 

    body {
        font-size:0.75rem;
        max-width: 300px;
        padding: 0 5px;
        line-height:1.05rem;
    }
    ul {
        max-width:99%;
        
    }
}